button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--fast), color var(--fast);
  border: unset;
  border-radius: var(--br-lg);
  outline: none;
  width: 100%;
  padding: 18px;
  cursor: pointer;
  font: 700 16px / 1.2 "Proxima Nova", sans-serif;
  gap: 10px;
}

.button {
  &--action {
    background-color: var(--main-text);
    color: var(--button-action-color);

    &:hover {
      background-color: var(--button-action-hover);
      color: var(--button-action-hover-color);
    }

    &:disabled {
      background-color: var(--button-action-disabled);
      color: var(--button-action-disabled-color);
    }
  }

  &--paypal {
    background-color: #fec538;

    &:hover {
      background-color: #ffda80;
    }
  }

  &--gpay {
    background-color: #e1e1e1;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
