html {
  font: normal 400 16px/1.2 "Proxima Nova", sans-serif;
  color: var(--main-text);
}

h1, h2, h3, h4, h5, h6, {
  font-weight: 800;
  color: var(--main-text);
}

strong {
  font-weight: 700;
  letter-spacing: 0.015em;
}

span {
  font-weight: 600;
}

del {
  color: var(--del-color);
}

mark,
.text--primary {
  color: var(--accent);
}

.container {
  max-width: 1210px;
  margin-inline: auto;
  padding-inline: 20px;
}

.only-desktop {
  @include tablet {
    display: none !important;
  }
}

.only-mobile {
  display: none;

  @include tablet {
    display: block;
  }
}

body {
  &:has(dialog[open]) {
    overflow-y: hidden;
  }
}

.fill--accent {
  fill: var(--accent) !important;
}
